**/__pycache__/
**/*.pyc
**/build/
**/test-runtime/
/dist/
/.venv/
**/sessions/
**/active-session.json
**/cleanup-backups/
**/Steam-Launch-Option.txt
*.dll
*.exe
*.obj
*.pdb
*.lib
*.exp
*.zip
*.sav
*.csv
*.log
*.dmp
*.vdf
*.usmap
*.uasset
*.uexp
*.ucas
*.utoc
*.pak
.env
.env.*
